[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
jupyterlab = "*"
gym = {extras = ["box2d"], version = "*"}
numpy = "*"
box2d = "*"
mpi4py = "*"
tensorflow = "*"
tensorflow-probability = "*"
seaborn = "*"
psutil = "*"
ray = {extras = ["rllib"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
