[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
jupyterlab = "*"
gym = {extras = ["box2d"], version = "*"}
numpy = "*"
box2d = "*"
mpi4py = "*"
tensorflow = "*"
tensorflow-probability = "*"
ray = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
